@{
	ViewBag.Title = "VelScorp Contact";
}
<main aria-labelledby="title">
	<h2 id="title">@ViewBag.Title.</h2>
	<h3>@ViewBag.Message</h3>

	<address>
		Wrocław<br />
		Poland<br />
	</address>

	<address>
		<strong>E-Mail:</strong><p>ukantsevich@gmail.com</p>
		<strong>GitHub:</strong> <a href="https://github.com/VelSkorp">github.com/VelSkorp</a><br />
		<strong>LeetCode:</strong> <a href="https://leetcode.com/u/VelSkorp/">leetcode.com/u/VelSkorp</a><br />
		<strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/vlad-kontsevich/">linkedin.com/in/vlad-kontsevich/</a>
	</address>
</main>